.container {
    display: flex;
    flex-direction: row;
}

.buttons-textarea-container {
    display: flex;
    flex-direction: row;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.add_button,
.test_button,
.generate {
    margin-bottom: 10px;
}

